<div class="welcome">
    <div *ngIf = "!(authService.getUser()|async)">
        <h2>Welcome</h2>
        <b>To connect please press Login or Sign-Up to create a new account.</b>
    </div>
    <div *ngIf = "(authService.getUser()|async)">
        <h2>Welcome {{email}}</h2>
        <p >You Logged In Successfully</p>
    </div>
</div>